/* /// Large devices (laptops/desktops, 992px and up)//////////////// */

@media only screen and (max-width: 1200px) {


  .product {
    width: 16%;
    height: 45%;
  }
  #name {
    font-size: 0.8rem;
  }
  #brand {
    font-size: 0.8rem;
  }
  #description {
    font-size: 0.5rem;
  }
  #price {
    font-size: 1.2rem;
  }
  .favv button{
    font-size: 0.8rem;
  }
  #filters li,
  #filtersType li {
    font-size: 0.7rem;
  }

  .fav .favAdd button,
  #buy button,
  .cart .favDel button,
  #removeCart button {
    padding: 1%;
    height: 2rem;
    width: 4rem;
    font-size: 0.7rem;
    margin: 2%;
  }
}

/* /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
  #header h1 {
    font-size: 3rem;
  }
  #header h2 {
    font-size: 2rem;
  }
  #showFilters {
    font-size: 2rem;
  }
  #save {
    gap: 50%;
    margin-left: -5%;
  }

  #img {
    height: 35%;
  }
  #price {
    font-size: 1.1rem;
  }
  .add button {
    padding: 2%;
    height: 2rem;
    width: 5rem;
  }
  #filters li,
  #filtersType li {
    font-size: 0.5rem;
  }
  .filterBy {
    font-size: 0.9rem;
  }
  .fav .favAdd button,
  #buy button,
  .fav .favDel button,
  #removeCart button {
    padding: 1%;
    height: 1.5rem;
    width: 3rem;
    font-size: 0.5rem;
    margin: 1%;
  }
  .favName {
    font-size: 0.8rem;
  }
}
/* /* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 768px) {
   
  #header h1 {
    font-size: 3rem;
  }
  #header h2 {
    font-size: 1.5rem;
  }
  #save {
    height: 30%;
    justify-content: space-around;
  }
.save{
  font-size: 0.5rem;


}
  

  .product {
    width: 30%;
    height: 55%;
  }
 
  .favv button{
 
    width: 3rem;
    height: 3rem;
    font-size: 0.7rem;
  }
  #price {
    font-size: 1rem;
  }
  .add button {
    padding: 1%;
    height: 2rem;
  }
  #filters li,
  #filtersType li {
    font-size: 0.4rem;
  }
  .filterBy {
    font-size: 0.7rem;
  }
  .reset {
    font-size: 0.8rem;
  }
  .favName {
    font-size: 0.6rem;
  }
  .favPrice {
    font-size: 0.5rem;
  }
  .fav .favAdd button,
  #buy button,
  .cart .favDel button {
    padding: 0.5%;
    height: 1.5rem;
    width: 2.5rem;
    font-size: 0.4rem;
    margin: 1%;
  }
}
/* /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  header {
    gap: 1%;
  }
  #header {
    gap: 0rem;
  }
  #img2 {
    display: none;
  }
  .headerLeft {
    gap: 1rem;
  }

  #header h1 {
    font-size: 2rem;
  }
  #header h2 {
    font-size: 1rem;
  }
  #save {
    flex-direction: row;
    gap: 20%;
  }
  #fav, #cart{
    width:90%;
 }
#total{
  margin: 1rem;
  font-size: 1rem;
}
.favDel button{
  font-size: 0.3rem;
  padding: 0.5%;
  height: 1rem;
  width: 2rem;}

  #showFilters {
    font-size: 1.5rem;
  }
  .product {
    width: 30%;
    height: 30%;
  }
  .favv {
    height: 1rem;
  }
  #img {
    width: 50%;
    /* height: 25%; */
  }
  #title {
    flex-direction: column;
  }
  #name {
    font-size: 0.5rem;
  }
  #brand {
    font-size: 0.4rem;
     }
 
  #price {
    font-size: 0.5rem;
    font-weight: bold;
  }
  .favv button{
    font-size: 0.5rem;
  }
  .add button {
    padding: 1%;
    height: 1rem;
    width: 3rem;
    font-size: 0.4rem;
  }

  .sections {
    flex-direction: column;
    gap: 5%;
  }
  .fav,
  .cart {
    flex-direction: column;
  }

  #mid {
    margin: 5rem 0 0 0;
  }
  .filterBy {
    font-weight: normal;
    font-size: 0.5rem;
  }
  .close {
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
}
