* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  background-color: var(--background-color);
  color: var(--color);
  background-attachment: fixed;
}
li {
  list-style: none;
}
.container {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* /////////////////////////////////////////////////////// HEADER //////////////////////////////////////////////////////////// */

header {
  background-color: var(--header-backround);

  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18%;
  margin-bottom: 1rem;
  position: fixed;
  top: 0;
  flex-wrap: wrap;
}
#header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}
.headerLeft {
  display: flex;
  justify-content: center;
  gap: 30%;
  flex-direction: row;
  align-items: center;
}
/* toggle */

:root,
:root.light {
  /* --header-backround: white;
  --background-color: #cd9a84f2; */
  --header-backround: white;
  --background-color: #9E6D70;
  --color: hsl(0, 1%, 49%);
   --link-color: inherit;
  --contrast-color: black;
}

/* Respond to user settings. */
@media (prefers-color-scheme: dark) {
  :root {
    --header-backround: rgb(118, 103, 103);
    --background-color: #31221cf2;
     --color: black;
     --contrast-color: hsl(0, 0%, 80%);
  }
}

/* Respond to manual dark setting. */
:root.dark {
  /* --header-backround: rgb(118, 103, 103);
  --background-color: #31221cf2; */
  --color: black;
  --contrast-color: hsl(0, 0%, 80%);

  --header-backround: #504E63;
  --background-color: #00142F;
}

/* .toggle-container{
    width: 2re;
} */

.toggle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  /* margin-bottom: 1em; */
  cursor: pointer;
  gap: 1%;
}

button.toggle {
  border: 0;
  padding: 0;
  background-color: transparent;
  font: inherit;
}

.toggle__input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.toggle__display {
  --offset: 0.25em;
  --diameter: 1.8em;
padding: 10%;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: content-box;
  /* width: calc(var(--diameter) * 2 + var(--offset) * 2);
  height: calc(var(--diameter) + var(--offset) * 2); */
  border: 0.1em solid rgb(0 0 0 / 0.2);
  position: relative;
  border-radius: 100vw;
  background-color: hsl(0, 0%, 100%);
  transition: 250ms;
}

.toggle__display::before {
  content: "";
  z-index: 2;
  position: absolute;
  top: 50%;
  left:0%;
  box-sizing: border-box;
  /* width: var(--diameter);
  height: var(--diameter); */
  width:50%;
  height:100%;
  border: 0.1em solid rgb(0 0 0 / 0.2);
  border-radius: 50%;
  background-color: var(--header-backround);
  transform: translate(0, -50%);
  will-change: transform;
  transition: inherit;
}

.toggle:focus .toggle__display,
.toggle__input:focus + .toggle__display {
  outline: 1px dotted #212121;
  outline: 1px auto -webkit-focus-ring-color;
  outline-offset: 2px;
}

.toggle:focus,
.toggle:focus:not(:focus-visible) .toggle__display,
.toggle__input:focus:not(:focus-visible) + .toggle__display {
  outline: 0;
}

.toggle[aria-pressed="true"] .toggle__display,
.toggle__input:checked + .toggle__display {
  background-color: #12161f;
  border-color: var(--contrast-color);
}

.toggle[aria-pressed="true"] .toggle__display::before,
.toggle__input:checked + .toggle__display::before {
  transform: translate(100%, -50%);
}

.toggle[disabled] .toggle__display,
.toggle__input:disabled + .toggle__display {
  opacity: 0.6;
  filter: grayscale(40%);
  cursor: not-allowed;
}

[dir="rtl"] .toggle__display::before {
  left: auto;
  right: var(--offset);
}

[dir="rtl"] .toggle[aria-pressed="true"] + .toggle__display::before,
[dir="rtl"] .toggle__input:checked + .toggle__display::before {
  transform: translate(-100%, -50%);
}

.toggle__icon {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  color: inherit;
  fill: currentcolor;
  vertical-align: middle;
  overflow: hidden;
}

.toggle__icon--cross {
  color: hsl(48, 97%, 51%);
}

.toggle__icon--checkmark {
  color: hsl(62, 100%, 93%);
}
#showFilters {
  margin-bottom: 20%;
  z-index: 9999;
  font-size: 3.5rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--background-color);
}
h1 {
  color: var(--background-color);
  font-size: 5rem;
  font-style: italic;
}
#img1 {
  margin-bottom: 30%;
}
h2 {
  color: var(--background-color);
  font-size: 3rem;
}
#save {
  display: flex;
  flex-direction: row;
  gap: 80%;
}
.fa-solid,
.fa-regular {
  color: var(--background-color);
}
.fa-xl {
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.save {
  border: none;
  background-color: transparent;
}
.fa-solid:hover,
.fa-regular:hover {
  color: red;
}

/* ///////////////////////////////////////////////////////NUMBER OF SAVED //////////////////////////////////////////////////////////// */
#favnum,
#cartnum {
  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--background-color);

  margin: 20%;
  font-weight: bold;
  border-radius: 100%;
}

/* ///////////////////////////////////////////////////////FAVOURITE MODAL //////////////////////////////////////////////////////////// */
#fav {
  display: none;
  background-color: #f8b495a2;
  position: fixed;
  overflow-y: auto;
  max-height: 80vh;
  z-index: 100;
  width: 40%;
  right: 19.5%;
  top: 15%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  font-size: 0.8rem;
}
.favPrice {
  font-size: 0.9rem;
  font-weight: bold;
}
.fav,
.cart {
  background-color: white;
  padding: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.fav img,
.cart img {
  height: 5rem;
}

.fav .favAdd button,
#buy button {
  background-color: #f8b595;
  color: white;
  padding: 2%;
  border-radius: 10px;
  height: 2.5rem;
  width: 6rem;
  border: none;
  font-size: 0.8rem;
}

.fav .favDel button,
.cart .favDel button {
  background-color: hsl(0, 7%, 13%);
  color: white;
  padding: 2%;
  border-radius: 10px;
  height: 2.5rem;
  width: 6rem;
  border: none;
  font-size: 0.8rem;
}
.fav .favAdd button:hover,
#buy button:hover {
  background-color: red;
}
.fav .favDel button:hover,
.cart .favDel button:hover {
  background-color: black;
}
.remove button {
  background-color: red;
  color: white;
  padding: 3%;
  border-radius: 10px;
  height: 2.5rem;
  width: 6rem;
  border: none;
}
.remove {
  margin: 2%;
}
.remove button:hover {
  background-color: #f8b595;
}

/* ///////////////////////////////////////////////////////CART MODAL //////////////////////////////////////////////////////////// */
#cart {
  display: none;
  background-color: rgba(22, 18, 18, 0.745);
  position: fixed;
  overflow-y: auto;
  max-height: 80vh;
  z-index: 100;
  width: 40%;
  right: 14.5%;
  top: 15%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1%;
}
.quantity {
  width: 30%;
  padding: 3%;
}
.cartI {
  width: 10%;
}
/* .cartIt {
  width: 25%;
} */
#total {
  color: white;
  margin: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

#buy button {
  border: none;
  font-weight: bold;
}

/* ///////////////////////////////////////////////////////PRODUCTS //////////////////////////////////////////////////////////// */

main {
  width: 100vw;
}
#main {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 5%;
}
.product {
  width: 16%;
  height: 45%;
  background-color: white;
  /* margin: 1rem; */
  border-radius: 15px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 2px grey;
}
.product:hover {
  transform: scale(1.05);
}
.product img {
  width: 100%;
  height: 100%;
}
#img {
  /* width: 60%; */
  height: 40%;
}
.product-item {
  align-self: auto;
  display: flex;
  margin-bottom: 1%;
  align-items: center;
  justify-content: center;
}
#title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#name {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  font-weight: bold;
}
#brand {
  font-weight: bold;
  font-size: 0.9rem;
}
#description {
  font-style: italic;
  font-size: 0.7rem;
}
#price {
  font-size: 1.2rem;
}
.favv button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  width: 4rem;
  height: 4rem;
}
.add button {
  background-color: var(--background-color);
  color: white;
  border: none;
  padding: 3%;
  border-radius: 10px;
  height: 2.5rem;
  width: 6rem;
}
.add button:hover {
  background-color: red;
}

/* /////////////////////////////////////////////////////// MODAL FILTERS //////////////////////////////////////////////////////////// */

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.209);
}
.modal-content {
  display: flex;
  justify-content: flex-start;
}
#close {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  margin-bottom: 10%;
}
.reset {
  color: white;
  background-color: #ab806d;
  padding: 2.5%;
  border-radius: 5px;
}
.close {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
#middle {
  background: none;
  width: 90%;
  height: 33vh;
  padding: 1%;
}
#mid {
  background-color: white;
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 5%;
}
.filterBy {
  margin-bottom: 5%;
  color: var(--background-color);
  font-weight: bold;
  font-size: 1.1rem;
}
.bold {
  font-size: 1.2rem;
  align-self: center;
  margin-bottom: 10%;
}
.sections {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.section {
  height: 90%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
}
.section li {
  background-color: var(--background-color);
  ;
}
.section li:hover {
  transform: scale(1.1);
}
.types,
.brands {
  display: none;
}
.types + label {
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
}
#filters li {
  padding: 5%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
#filtersType li {
  padding: 5%;
  text-align: center;
  color: white;
  border-radius: 5px;
}
.brands + label {
  cursor: pointer;
}
