* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--color);
  background-attachment: fixed;
}
li {
  list-style: none;
}
.container {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* /////////////////////////////////////////////////////// HEADER //////////////////////////////////////////////////////////// */

header {
  background-color: white;
  box-shadow: 1px 1px 2px grey;
  font-family: "Alegreya", serif;
  font-weight: 100;
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 18%;
  margin-bottom: 1rem;
  position: fixed;
  top: 0;
  flex-wrap: wrap;
}
#header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  font-style: italic;
}
.headerLeft {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-direction: row;
  align-items: center;
}
/* toggle */

:root,
:root.light {
  --header-backround: white;
  --background-color: white;
  --color: #976143;
  --link-color: inherit;
  --contrast-color: black;
}

/* Respond to user settings. */
@media (prefers-color-scheme: dark) {
  :root {
    --header-backround: white;
    --background-color: black;
    --color: black;
    --contrast-color: white;
  }
}

/* Respond to manual dark setting. */
:root.dark {
  --color: black;
  --contrast-color: hsl(0, 0%, 80%);
  --header-backround: white;
  --background-color: black;
}

.toggle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  margin-bottom: 1em;
  cursor: pointer;
  gap: 1%;
}

button.toggle {
  border: 0;
  padding: 0;
  background-color: transparent;
  font: inherit;
}

.toggle__input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.toggle__display {
  --offset: 0.25em;
  --diameter: 1.8em;
  padding: 10%;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: content-box;
  border: 0.1em solid rgb(0 0 0 / 0.2);
  position: relative;
  border-radius: 100vw;
  background-color: hsl(0, 0%, 100%);
  transition: 250ms;
}

.toggle__display::before {
  content: "";
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 0%;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  border: 0.1em solid rgb(0 0 0 / 0.2);
  border-radius: 50%;
  background-color: var(--header-backround);
  transform: translate(0, -50%);
  will-change: transform;
  transition: inherit;
}

.toggle:focus .toggle__display,
.toggle__input:focus + .toggle__display {
  outline: 1px dotted #212121;
  outline: 1px auto -webkit-focus-ring-color;
  outline-offset: 2px;
}

.toggle:focus,
.toggle:focus:not(:focus-visible) .toggle__display,
.toggle__input:focus:not(:focus-visible) + .toggle__display {
  outline: 0;
}

.toggle[aria-pressed="true"] .toggle__display,
.toggle__input:checked + .toggle__display {
  background-color: #12161f;
  border-color: var(--contrast-color);
}

.toggle[aria-pressed="true"] .toggle__display::before,
.toggle__input:checked + .toggle__display::before {
  transform: translate(100%, -50%);
}

.toggle[disabled] .toggle__display,
.toggle__input:disabled + .toggle__display {
  opacity: 0.6;
  filter: grayscale(40%);
  cursor: not-allowed;
}

[dir="rtl"] .toggle__display::before {
  left: auto;
  right: var(--offset);
}

[dir="rtl"] .toggle[aria-pressed="true"] + .toggle__display::before,
[dir="rtl"] .toggle__input:checked + .toggle__display::before {
  transform: translate(-100%, -50%);
}

.toggle__icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: inherit;
  fill: currentcolor;
  vertical-align: middle;
  overflow: hidden;
}

.toggle__icon--cross {
  color: hsl(48, 97%, 51%);
}

.toggle__icon--checkmark {
  color: hsl(62, 100%, 93%);
}
#showFilters {
  margin-bottom: 20%;
  z-index: 9999;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: (--background-color);
}
h1 {
  color: black;
  font-size: 3rem;
  font-style: italic;
}
#img1 {
  margin-bottom: 30%;
}
h2 {
  color: black;
  font-size: 2rem;
}
#save {
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}
.fa-solid,
.fa-regular {
  color: black;
}
.fa-xl {
  margin-bottom: 0.8rem;
}
.save {
  border: none;
  background-color: transparent;
}

.fa-solid:hover,
.fa-regular:hover {
  color: #daccc0;
}

/* ///////////////////////////////////////////////////////NUMBER OF SAVED //////////////////////////////////////////////////////////// */
#favnum,
#cartnum {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  border-radius: 100%;
}

/* ///////////////////////////////////////////////////////FAVOURITE MODAL //////////////////////////////////////////////////////////// */
#fav {
  display: none;
  background-color: #daccc0;
  position: fixed;
  overflow-y: auto;
  max-height: 80vh;
  z-index: 100;
  width: 40%;
  right: 11%;
  top: 12%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  font-size: 0.8rem;
}
.favPrice {
  font-size: 0.9rem;
  font-weight: bold;
}

.fav,
.cart {
  background-color: white;
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4%;
  width: 100%;
}

.fav img,
.cart img {
  width: 4rem;
  height: 4rem;
}

.fav .favAdd button,
#buy button {
  background-color: #daccc0;
  color: white;
  padding: 2%;
  border-radius: 10px;
  height: 2rem;
  width: 5rem;
  border: none;
  font-size: 0.8rem;
}

.fav .favDel button,
.cart .favDel button {
  background-color: hsl(0, 7%, 13%);
  color: white;
  padding: 2%;
  border-radius: 10px;
  height: 2rem;
  width: 4rem;
  border: none;
  font-size: 0.8rem;
}
.fav .favAdd button:hover,
#buy button:hover {
  background-color: #daccc0;
}
.fav .favDel button:hover,
.cart .favDel button:hover {
  background-color: black;
}
.remove button {
  background-color: red;
  color: white;
  padding: 3%;
  border-radius: 10px;
  height: 2.5rem;
  width: 6rem;
  border: none;
}
.remove {
  margin: 2%;
}
.remove button:hover {
  background-color: #daccc0;
}

/* ///////////////////////////////////////////////////////CART MODAL //////////////////////////////////////////////////////////// */
#cart {
  display: none;
  background-color: rgba(22, 18, 18, 0.745);
  position: fixed;
  overflow-y: auto;
  max-height: 80vh;
  z-index: 100;
  width: 40%;
  right: 5%;
  top: 12%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1%;
}
.quantity {
  width: 30%;
  padding: 3%;
}
.cartI {
  width: 10%;
}

#total {
  color: white;
  margin: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

#buy button {
  border: none;
  font-weight: bold;
}

/* ///////////////////////////////////////////////////////PRODUCTS //////////////////////////////////////////////////////////// */

main {
  width: 100vw;
}

#mainImg {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/pexels-zhugewala-605070-2113855.jpg);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10%;
}

#mainImg a button {
  border: none;
  background-color: transparent;
  /* padding: 0.8rem; */
  margin: 0 auto;
  font-family: "Alegreya", serif;
  animation: slideInFromBottom 2s ease-out forwards, bounceSlow 3s ease-out infinite;
  animation-delay: 0s, 2s; 
}


 
@keyframes bounceSlow {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-60%);  
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-50%);  
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
#mainImg a button:hover {
  background-color: transparent;
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* #mainImg a button:hover {
  background-color: #976143;
} */

#main {
  color: black;
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 5%;
  margin-top: 5%;
}
.product {
  width: 16%;
  height: 45%;
  background-color: white;
  border-radius: 15px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #daccc0;
  justify-content: space-between;
}
.product:hover {
  transform: scale(1.05);
}
.product img {
  /* width: 100%; */
  height: 100%;
}
#img {
  height: 35%;
}
.product-item {
  align-self: auto;
  display: flex;
  margin-bottom: 1%;
  align-items: center;
  justify-content: center;
}
#title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#name {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  font-weight: bold;
}
#brand {
  font-weight: bold;
  font-size: 0.8rem;
}

#price {
  font-size: 1.1rem;
}
/* .favv{
  font-size: 2em;} */
.favv button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  width: 4rem;
  height: 4rem;
  font-size: 1rem;
}
.add button {
  background-color: #daccc0;

  color: white;
  border: none;
  padding: 3%;
  border-radius: 10px;
  height: 2.5rem;
  width: 6rem;
}
.add button:hover {
  color: var(--contrast-color);
  background-color: var(--color);
}

/* /////////////////////////////////////////////////////// MODAL FILTERS //////////////////////////////////////////////////////////// */

.modal {
  display: none;

  width: 100%;
  height: 100%;
  overflow: auto;
}

#close {
  color: var(--contrast-color);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
}
.reset {
  color: var(--contrast-color);
  text-decoration: underline;
}
.close {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
#middle {
  width: 90%;
  height: 100%;
  padding: 1%;
}
#mid {
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 2rem 0;
}
.filterBy {
  color: var(--contrast-color);
  font-weight: bold;
}
.bold {
  align-self: center;
}
.sections {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section {
  padding: 2%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.section li:hover {
  transform: scale(1.1);
}
.types,
.brands {
  display: none;
}
.types + label {
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
}
#filters li {
  text-decoration: underline;
  text-align: center;
  text-transform: uppercase;
  color: var(--contrast-color);

  font-weight: bold;
  border-radius: 5px;
}
#filtersType li {
  text-decoration: underline;
  color: var(--contrast-color);
  text-align: center;
  border-radius: 5px;
}
.brands + label {
  cursor: pointer;
}
